<section class="row-fluid">
  <h2>
    Conversation between 
    <span id="user_from"><%= link_to @conversation.from.username, @conversation.from, class: "purple" %></span>
    and <span id="user_to"><%= link_to @conversation.to.username, @conversation.to, class: "purple" %></span>
  </h2>
</section>
<br><br>
<% @conversation.messages.each do |message| %>
  <div class="row-fluid">
    <%= message.conversation.from.try(:username) %><br>
    Subject: <%= message.subject %><br>
    <span class="message-content">
      <%= message.content %>
    </span>
  <br><Br>
  </div>
<% end %>
<%= form_for @message do |builder| %>
  <%= hidden_field_tag :conversation_id, @conversation.id %>
  <%= render "messages_fields", g: builder %>
  <div class="control-group">
    <div class="controls">
      <%= builder.submit "Submit", class: "btn" %>
    </div>
  </div>
<% end %>