Conversation between 
<span id="user_from"><%= @conversation.from.username %></span>
and <span id="user_to"><%= @conversation.to.username %></span>
<br><br>
<% @conversation.messages.each do |message| %>
  <%= message.from.try(:username) %><br>
  Subject: <%= message.subject %><br>
  <%= message.content %><br><Br>
<% end %>
<%= form_for @message do |builder| %>
  <%= hidden_field_tag :conversation_id, @conversation.id %>
  <%= render "messages_fields", g: builder %>
  <%= builder.submit "Submit" %>
<% end %>